@import "tailwindcss";

body,
html,
#__nuxt {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
}

Chrome,
Safari,
Edge,
Opera input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
